### Home - Here is our project

In [71]:
#imports

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# statistics for harmonic_mean
import statistics as s

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from graphviz import *

from acquire import *
from prepare import *

df = get_telco_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [72]:
def peekatdata(df):
    head_df = df.head(5)
    print(head_df)
    tail_df = df.tail(5)
    print(tail_df)
    shape_tuple = df.shape
    print(shape_tuple)
    describe_df = df.describe()
    print(describe_df)
    df.info()

In [73]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,1,Yes,4,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,No,1,Yes,1,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,No,1,Yes,1,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,1,No,3,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [74]:
peekatdata(df)

  customer_id  gender  senior_citizen partner dependents  tenure  \
0  0003-MKNFE    Male               0      No         No       9
1  0013-MHZWF  Female               0      No        Yes       9
2  0015-UOCOJ  Female               1      No         No       7
3  0023-HGHWL    Male               1      No         No       1
4  0032-PGELS  Female               0     Yes        Yes       1

  phone_service    multiple_lines  internet_service_type_id online_security  \
0           Yes               Yes                         1              No
1           Yes                No                         1              No
2           Yes                No                         1             Yes
3            No  No phone service                         1              No
4            No  No phone service                         1             Yes

             ...             streaming_movies contract_type_id  \
0            ...                          Yes                1
1            ...                          Yes                1
2            ...                           No                1
3            ...                           No                1
4            ...                           No                1

  paperless_billing payment_type_id monthly_charges  total_charges churn  \
0                No               2            59.9          542.4    No
1               Yes               4            69.4         571.45    No
2               Yes               1            48.2         340.35    No
3               Yes               1            25.1           25.1   Yes
4                No               3            30.5           30.5   Yes

    contract_type  internet_service_type               payment_type
0  Month-to-month                    DSL               Mailed check
1  Month-to-month                    DSL    Credit card (automatic)
2  Month-to-month                    DSL           Electronic check
3  Month-to-month                    DSL           Electronic check
4  Month-to-month                    DSL  Bank transfer (automatic)

[5 rows x 24 columns]
     customer_id  gender  senior_citizen partner dependents  tenure  \
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service multiple_lines  internet_service_type_id  \
7038           Yes             No                         3
7039           Yes            Yes                         3
7040           Yes            Yes                         3
7041           Yes             No                         3
7042           Yes             No                         3

          online_security            ...                 streaming_movies  \
7038  No internet service            ...              No internet service
7039  No internet service            ...              No internet service
7040  No internet service            ...              No internet service
7041  No internet service            ...              No internet service
7042  No internet service            ...              No internet service

     contract_type_id paperless_billing payment_type_id monthly_charges  \
7038                3               Yes               4           20.30
7039                3                No               2           25.25
7040                3               Yes               4           24.40
7041                3               Yes               3           19.25
7042                3                No               4           19.75

      total_charges churn  contract_type  internet_service_type  \
7038         487.95    No       Two year                   None
7039         1559.3    No       Two year                   None
7040         1725.4    No       Two year                   None
7041         1372.9    No       Two year                   None
7042          856.5    No       Two year                   None

                   payment_type
7038    Credit card (automatic)
7039               Mailed check
7040    Credit card (automatic)
7041  Bank transfer (automatic)
7042    Credit card (automatic)

[5 rows x 24 columns]
(7043, 24)
       senior_citizen       tenure  internet_service_type_id  \
count     7043.000000  7043.000000               7043.000000
mean         0.162147    32.371149                  1.872923
std          0.368612    24.559481                  0.737796
min          0.000000     0.000000                  1.000000
25%          0.000000     9.000000                  1.000000
50%          0.000000    29.000000                  2.000000
75%          0.000000    55.000000                  2.000000
max          1.000000    72.000000                  3.000000

       contract_type_id  payment_type_id  monthly_charges
count       7043.000000      7043.000000      7043.000000
mean           1.690473         2.315633        64.761692
std            0.833755         1.148907        30.090047
min            1.000000         1.000000        18.250000
25%            1.000000         1.000000        35.500000
50%            1.000000         2.000000        70.350000
75%            2.000000         3.000000        89.850000
max            3.000000         4.000000       118.750000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [75]:
df['total_charges'] = df['total_charges'].convert_objects(convert_numeric=True)

In [69]:
for col in df['partner', 'dependents', 'phone_service',
              'online_security', 'streaming_movies',
              'paperless_billing', 'churn']:
    df[col] = df[col].apply(lambda x: 1 if x == 'Yes' else 0)

In [77]:
df.

customer_id                  0
gender                       0
senior_citizen               0
partner                      0
dependents                   0
tenure                       0
phone_service                0
multiple_lines               0
internet_service_type_id     0
online_security              0
online_backup                0
device_protection            0
tech_support                 0
streaming_tv                 0
streaming_movies             0
contract_type_id             0
paperless_billing            0
payment_type_id              0
monthly_charges              0
total_charges               11
churn                        0
contract_type                0
internet_service_type        0
payment_type                 0
dtype: int64

In [62]:
# def df_value_counts(df):
for col in df.drop(columns=('customer_id')):
    if np.issubdtype(df[col].dtype, np.number) and df[col].nunique() > 10:
        print(df[col].value_counts(bins=10, sort=False))
    else:
        print(df[col].value_counts(sort=False))

Male      3555
Female    3488
Name: gender, dtype: int64
0    5901
1    1142
Name: senior_citizen, dtype: int64
No     3641
Yes    3402
Name: partner, dtype: int64
No     4933
Yes    2110
Name: dependents, dtype: int64
(-0.073, 7.2]    1612
(7.2, 14.4]       759
(14.4, 21.6]      570
(21.6, 28.8]      556
(28.8, 36.0]      545
(36.0, 43.2]      444
(43.2, 50.4]      452
(50.4, 57.6]      495
(57.6, 64.8]      501
(64.8, 72.0]     1109
Name: tenure, dtype: int64
No      682
Yes    6361
Name: phone_service, dtype: int64
No phone service     682
No                  3390
Yes                 2971
Name: multiple_lines, dtype: int64
1    2421
2    3096
3    1526
Name: internet_service_type_id, dtype: int64
No                     3498
No internet service    1526
Yes                    2019
Name: online_security, dtype: int64
No                     3088
No internet service    1526
Yes                    2429
Name: online_backup, dtype: int64
No                     3095
No internet service    1526
Yes                    2422
Name: device_protection, dtype: int64
No                     3473
No internet service    1526
Yes                    2044
Name: tech_support, dtype: int64
No                     2810
No internet service    1526
Yes                    2707
Name: streaming_tv, dtype: int64
No                     2785
No internet service    1526
Yes                    2732
Name: streaming_movies, dtype: int64
1    3875
2    1473
3    1695
Name: contract_type_id, dtype: int64
No     2872
Yes    4171
Name: paperless_billing, dtype: int64
4    1522
1    2365
2    1612
3    1544
Name: payment_type_id, dtype: int64
(18.148999999999997, 28.3]    1606
(28.3, 38.35]                  191
(38.35, 48.4]                  365
(48.4, 58.45]                  640
(58.45, 68.5]                  474
(68.5, 78.55]                  893
(78.55, 88.6]                  953
(88.6, 98.65]                  873
(98.65, 108.7]                 754
(108.7, 118.75]                294
Name: monthly_charges, dtype: int64
(10.133000000000001, 885.4]    2709
(885.4, 1752.0]                1228
(1752.0, 2618.6]                671
(2618.6, 3485.2]                508
(3485.2, 4351.8]                454
(4351.8, 5218.4]                412
(5218.4, 6085.0]                395
(6085.0, 6951.6]                310
(6951.6, 7818.2]                223
(7818.2, 8684.8]                122
Name: total_charges, dtype: int64
No     5174
Yes    1869
Name: churn, dtype: int64
Two year          1695
One year          1473
Month-to-month    3875
Name: contract_type, dtype: int64
None           1526
Fiber optic    3096
DSL            2421
Name: internet_service_type, dtype: int64
Bank transfer (automatic)    1544
Mailed check                 1612
Credit card (automatic)      1522
Electronic check             2365
Name: payment_type, dtype: int64

In [21]:
df['churn'].value_counts()

No     5174
Yes    1869
Name: churn, dtype: int64